<button (click)="show = !show">{{show ? 'hide' : 'Add a Car'}}</button>

<div *ngIf="show">
    <form>
        <label>Make</label>
        <input type="text" name="make" placeholder="Enter Make" #make>

        <label>Model</label>
        <input type="text" name="model" placeholder="Enter Model" #model>

        <label>Year</label>
        <input type="text" name="year" placeholder="Enter Year" #yer>

        <label>Image</label>
        <input type="text" name="imageURL" placeholder="Enter Link to Image" #imageURL>

        <button type="submit" (click)="addTheCar(make.value,model.value,year.value,imageURL.value)">Add The Car</button>

    </form>
</div>

<div class="container">
    <app-car *ngFor="let carData of carsData" [carData]="carData"></app-car>
</div>
